<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>

<div id="body">
	<%- include partials/sidebar.ejs %>

	<div id="mainContent">
		<div class="header">Search Results for <%= query %> from <%= selectedNotebook.name %></div>
		<div class="content">
			<%- include partials/results.ejs %>
			<div id="nContainer"></div>
		</div>
	</div>
</div>

<%- include partials/foot.ejs %>
