<%- include partials/head.ejs %>
<%- include partials/homesnbnavbar.ejs %>

</header>
<div id='body'>
<%- include partials/sidebar.ejs %>

	<div id="mainContent">
		<div class="header"><%=notebook%> Notebook</div>
		<div class="content">
		<%- include partials/results.ejs %> 
			<div id="nContainer"></div>
		</div>
	</div>
</div>
</div>

<%- include partials/foot.ejs %>

